

<h1 class="text-center">
	   	   <img src="http://www.iconsdb.com/icons/preview/F49D1E/airplane-57-xxl.png">
	   	   <br>
	   	   <span class="title"> TRIP.PY</span>

</h1>


<section id="trippyInfo" class="section row">
	<h2 class="text-center">Your Adventures Begin Here!</h2>
	<div class="explain_row">
			<div class="left_div"><h3>
		      We all need a little help organising our next weekend getaway or vacation. 
		      Stop losing your plans in emails and notes.
		      Trippy is the place to put down your inspirations, budget, availability, and share it all with your friends!  
		      
			</h3></div>
			<div class="right_div"><h3>
		      Don't wait, sign up today and start planning your next adventure!
		      Sign up is easy. You can sign in with your facebook account and have your friends connect with you on Trippy immediately!
		      <br>
		      <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: "sign_in_btn btn btn-large btn-primary" %>

		      
			</h3></div>
	</div>

</section>
<br>
<br>
<br>
<br>
<br>

