<% provide(:title, 'Invite Friend') %>

<%= form_tag(new_friendship_path) do %>
<div>
<div class="field" id="emailInput" >
	OR &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= text_field_tag :email, nil, placeholder: 'Enter email'%>
</div>

<div class="actions" id="sendButton">
	<div class= "btn btn-primary sendBtn"><%= submit_tag "Send Invite!" %></div>

</div>
</div>
<% end %>
