<% if @freeranges.any? %>
    Free during: 
	<table>
	  <tbody>
		<% @freeranges.each do |freerange| %>
		  <tr>
			<td><%= freerange.start_date %></td>
			<td>to </td>
			<td><%= freerange.end_date %></td>
			
			<td class ="btn btn-small btn-primary"><%= link_to 'Delete', freerange, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		  </tr>
		<% end %>
	  </tbody>
	</table>
	<br>
<% else %>
   No free dates.
<% end %>

