
<div>
	<% if freedates.any? %>
	<%= raw freedates.to_json %>
		<%= javascript_tag do %>
		  freedates = <%= raw freedates.to_json %>
		<% end %>
		<div class="datepicker"> </div>
		<%= javascript_include_tag('calendar.js') %>
	<% end %>
</div>
